{% extends "base.html" %}
{% block content %}

    <h3 class="light-blue-text text-darken-4 center-align">Add Task</h3>

    <div class="row card-panel grey lighten-5">
        <form class="col s12" method="POST" action="">
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-pencil-alt prefix light-blue-text text-darken-4"></i>
                    <input id="meal_name" name="meal_name" minlength="5" maxlength="50"
                        type="text" class="validate" required>
                    <label for="meal_name">Meal Name</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-align-left prefix light-blue-text text-darken-4"></i>
                    <textarea id="meal_description" name="meal_description" minlength="5"
                        maxlength="200" class="materialize-textarea validate" required></textarea>
                    <label for="meal_description">Meal Description</label>
                </div>
            </div>
        </form>
    </div>

{% endblock %}