{% extends "base.html" %}
{% block content %}


    <!-- form utilising materialise css -->
    <div class="row">
        <form class="col s12 m10 offset-m1 grey lighten-4" method="POST" action="{{ url_for('edit_recipe', recipe_id=recipe._id) }}">
            <h2 class="header">Edit Recipe</h2>
            <div class="row form-row">
                <!-- select category field -->
                <div class="input-field col s12">
                    <select id="category_name" name="category_name" class="validate" required>
                        <option value="" disabled>Choose category</option>
                        {% for category in categories %}
                            {% if category.category_name == recipe.category_name %}
                            <option value="{{ category.category_name }}" selected>{{ category.category_name }}</option>
                            {% else %}
                            <option value="{{ category.category_name }}">{{ category.category_name }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                    <label for="category_name">Select a Category</label>
                </div>

                <!-- input recipe name -->
                <div class="input-field col s12">
                    <input id="recipe_name" name="recipe_name" minlength="2" maxlength="40" value="{{ recipe.recipe_name }}" type="text" class="validate" required>
                    <label for="recipe_name">Recipe</label>
                </div>

                 <!-- input recipe description -->  
            <div id="description-col" class="input-field col s12">
                <input id="recipe_description" name="author_name" minlength="2" maxlength="30" value="{{ recipe.recipe_name }} type="text" class="validate">
                <label for="recipe_description">Description</label>
            </div>

                
            <!-- input recipe ingredients -->
            <div class="row">
                <div class="input-field col s12" id="ingredient-section">
                    <input id="ingredients" name="ingredients" type="text" class="validate ingredient-input" minlength="4" required>
                    <label for="ingredients">Ingredients</label>
                    <!--Below is where each new ingredient is added-->
                    <div id="ingredient-insert"></div>
                </div>
                <div>
                    <div class="row">
                        <span class="button-div">
                            <button type="button" id="next-ingredient-button" class="btn-large positive-button-style">Add ingredient</button>
                        </span>
                        <span class="button-div">
                            <button type="button" id="delete-ingredient-button" class="btn-large negative-button-style">Delete ingredient</button>
                        </span>
                    </div>
                </div>
            </div>

                <!-- input image url as an option for the user - not required -->    
                
                <div class="input-field col s12">
                    <!-- if using default image, field should not display image address -->
                    {% if recipe.image_url == "../static/images/food.png" %}
                    <input id="image_url" name="image_url" value="" minlength="2" maxlength="150" type="url" class="validate">
                    <label for="image_url">Link to image (optional)</label>
                    {% else %}
                    <!-- if user url supplied previously, this will display here -->
                    <input id="image_url" name="image_url" value="{{ recipe.image_url }}" minlength="2" maxlength="150" type="url" class="validate">
                    <label for="image_url">Link to image (optional)</label>
                    {% endif %}
                </div>          
            </div>

                <!-- submit/edit button -->
            <div class="center-align">
                <button class="btn waves-effect waves-light red darken-4 center-align" type="submit">Edit Recipe
                <i class="fas fa-sign-in-alt"></i>
                </button>
                <a href="{{ url_for('profile', username=session['user']) }}" class="btn waves-effect waves-light grey darken-4 center-align">Cancel
                    <i class="fas fa-times-circle"></i>
                </a>
            </div>
            
        </form>
    </div>

<script src="{{ url_for('static', filename='js/addeditjs.js') }}"></script>

{% endblock %}